# ==========================================================
# Django
# ==========================================================

DJANGO_SECRET_KEY=t&%++)n=p$4z@blmz$)eth%yvhaf@*&b@y8m$!a$2w%yf@yti4
DJANGO_DEBUG=False

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,asso-htap.com,www.asso-htap.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://127.0.0.1:8000,https://localhost:8000,https://asso-htap.com,https://www.asso-htap.com

# ==========================================================
# Database
# ==========================================================

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# If using PostgreSQL instead:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=htap_algerie
# DB_USER=htap_user
# DB_PASSWORD=change-this-password
# DB_HOST=127.0.0.1
# DB_PORT=5432

# ==========================================================
# Internationalization
# ==========================================================

DJANGO_LANGUAGE_CODE=en
DJANGO_TIME_ZONE=Africa/Algiers

# ==========================================================
# Security
# ==========================================================

DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

# HSTS
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True

# ==========================================================
# Email
# ==========================================================

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=HTAP ALGÉRIE <your-email@example.com>
